<div class="container-formRegister">
  <h1>Registrate</h1>
  <form action="/register" method="POST" class="form-register">
    <div class="container-registerNombre">
      <label for="nombre">Nombre</label>
      <input type="text" name="nombre" class="input-nombre" required />
    </div>
    <div class="container-registerEmail">
      <label for="email">Email</label>
      <input type="email" name="email" class="form-control" required />
    </div>
    <div class="container-registerPass">
      <label for="password">Contraseña</label>
      <input type="password" name="password" class="form-control" required />
    </div>
    <button type="submit" class="btn-register">Registrarme</button>
  </form>

  <p>¿Ya tenés cuenta? <a href="/">Iniciá sesión</a></p>
</div>