{{> nav}}
<div class="container-formNuevaReserva">
  <h1>Nueva Reserva</h1>

  <form action="/reservas" method="POST" class="form-nuevaReserva">
    <div class="form-groupNueva">
      <label for="nombre">Nombre</label>
      <input
        type="text"
        name="nombre"
        id="nombre"
        required
        class="form-control"
      />
    </div>

    <div class="form-groupNueva">
      <label for="fecha">Fecha</label>
      <input
        type="date"
        name="fecha"
        id="fecha"
        required
        class="form-control"
      />
    </div>

    <div class="form-groupNueva">
      <label for="hora">Hora</label>
      <input type="time" name="hora" id="hora" required class="form-control" />
    </div>

    <button type="submit" class="btn-guardar">Guardar reserva</button>
  </form>

  <a href="/reservas" class="btn-volver">Volver al listado</a>
</div>