<nav>
  {{#if usuario}}
    <span><img src="/img/defaultprofile.svg" alt="" />
      {{usuario.nombre}}
      {{#if (eq usuario.rol "admin")}}
        (ADMIN)
      {{/if}}</span>

    <a href="/logout">Cerrar sesión</a>
  {{/if}}
</nav>